DB_URL
DB_USER
DB_PASSWORD
CENTRAL_JWT_SEGREDO
CORS_ALLOWED_ORIGINS
CENTRAL_OPERADOR_SEED_EMAIL
CENTRAL_OPERADOR_SEED_SENHA
CENTRAL_PRODUTO_SERVIRE_CHAVES_ENTRADA
CENTRAL_PRODUTO_SERVIRE_CHAVE_SAIDA_ID
CENTRAL_PRODUTO_SERVIRE_CHAVE_SAIDA_SEGREDO
